*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color:#fff;
    font-family: 'PT Sans', sans-serif;
}
a{
    text-decoration: none;
    color:#333;
}
.wrapper{
    padding: 120px 0 40px 243px;
}


p.Massege {
    font-size: 22px;
    background-color: #222;
    color:#fff;
    width: 650px;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
}
p.Massege.t1 {
    background-color: #83a95c;
}
p.Massege.t2 {
    background-color: #a9294f;
}
p.Massege.t3 {
    background-color: #fecd1a;

}
p.Massege.t4 {
    background-color: #6f9eaf;
}

div.msg-field-forms{
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 15px;
    font-weight: 700;

}
div.msg-field-forms.t2{
    color:#b30909;
}


/******* Login Section ********/
.login-box {
    width: 390px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    display: block;
    margin: 100px auto;
}
.login-box .login-header{
    text-align: center;
}
.login-box .login-header hr{
    border: none;
    border: 2px solid #0079ad;
    border-radius: 5px;
    width: 150px;
    margin: auto;
}
.login-box .login-header h3{
    font-size: 30px;
    color:#444;
}
.login-box .img-box{

    width: 170px;
    height: auto;
    margin: 20px auto;
}
.login-box .img-box img{
    max-width: 100%;
    max-height: 100%;
}
.login-box .inputs-box{
}
.login-box .inputs-box .input-field {
    position: relative;
    width: 280px;
    margin: 12px auto;
}
.login-box .inputs-box .input-field .text, .login-box .inputs-box .input-field .button{
    width: 100%;
    border-radius: 7px;
}

.login-box .inputs-box .input-field .text{
    font-size: 18px;
    padding: 9px;
    background-color: #f2f2f2;
    border: 1px solid #eee;
}
.login-box .inputs-box .input-field .text:focus ,
 .login-box .inputs-box .input-field .text:active,
 .login-box .inputs-box .input-field .text:hover{
     outline: none;
 }
 .login-box .inputs-box .input-field .button{
     background-color: #0079ad;
     border: none;
     outline: none;
     color: #eee;
     padding: 9px;
     font-size: 18px;


     
 }






.top_nav{
    padding-left: 30px;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #11698e;
    color:#f0f0f0;
    height: 70px;
    line-height: 70px;
    display: flex;
}
.app-title {
    font-size: 25px;

}
.top_nav ul{
    margin-left: 20px;

}
.top_nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}
.admin-left-nav{
    width: 230px;
    top: 70px;
    left: 0;
    position: fixed;
    height: 100%;
    background-color: #222;
    color: #eee;
    
}
.admin-left-nav .nav-links {
   margin: 50px 30px 0; 
}
.admin-left-nav .nav-links li {
    font-size: 19px;
    list-style-type: none;
    margin-top: 15px;
}
.admin-left-nav .nav-links li a {
    color: #666;
}
.admin-left-nav .nav-links li a:hover{
    color:#eee;
    transition: .5s;
}
.admin-left-nav .nav-links li.active a{
    color:#fff;
}
.admin-left-nav .account-info {
    margin: auto;
    margin-top: 30px;
    color:#ddd;

}
.admin-left-nav .account-info h1{
    width: 100%;
    font-size: 34px;
    text-align: center;
}
.admin-left-nav .account-info .type{
    text-align: center;
    color:#0aa7e8;
}



  .page-slt {
      width: 80%;
      margin: auto;
  }
  .form-emp-info{
    width:80%;
    margin: auto;
}
 
  .form-emp-info fieldset{
      background: #eee;
      border: none;
  }
  
  .form-emp-info fieldset legend {
      background: #ddd;
      padding: 7px;
      color: #666;
      font-size: 18px;
      font-weight: bold;
      margin-left: 14px;
    }
  .form-emp-info .form-field{
      margin: 15px 0;
      padding: 5px 15px;
      position: relative;
  }
  .form-emp-info .form-field input[type='text']  , .form-emp-info .form-field label {
      display: block;
  }
  
  .form-emp-info .form-field input[type='text'] {
      margin-top: 7px;
      width: 100%;
      height: 33px;
      border-radius: 7px;
      padding: 7px;
      border: none;
      outline: none;
  }
  .form-emp-info .form-field input[type='text']:focus {
      border: none;
      outline: none;
      border:1px solid #ccc;
  }
  .form-emp-info .form-field label {
      margin-left: 4px;
      font-size: 17px;
      color: #666;
      font-weight: bold;
  }
  .form-emp-info input[type='submit'] {
      cursor: pointer;
      background: #01a001;
      color: #fff;
      padding: 10px;
      border: 1px solid #129c12;
      font-size: 16px;
      font-weight: bold;
      border-radius: 7px;
      margin-left: 10px;
  }
  .form-emp-info input[type='submit']:hover ,
  .form-emp-info input[type='submit']:focus ,
  .form-emp-info input[type='submit']:active {
      outline: none;
      background: #058805;
  }
   
  .form-emp-info .form-field .choose-section{
    width: 90%;
    margin:5px 0;
    border-top: 1px solid #999;
    padding: 20px 8px;   
  }

  .form-emp-info .form-field .choose-section label {
      display: inline;
      margin-right: 5px;
      font-size: 16px;
  }

  .form-emp-info .form-field .choose-section .checking-box:not(:first-child){
    margin-top: 8px;
  }

  .form-emp-info .form-field .choose-section input[type='checkbox']{
    width: 15px;
    height: 15px;
  }


  .form-field select {
    width: 50%;
    height: 35px;
    background-color: #eee;
    padding: 3px 5px;
    font-size: 17px;
    border: 2px solid #999;
    border-radius: 5px;
}
  .form-field input[type="text"].p50 {
      width: 50%;
  }



  .table-show-emp-info{
      font-family: Arial, Tahoma;
      width: 100%;
      border-collapse: collapse;
      vertical-align: middle;
      font-size: 15px;
  }
  .table-show-emp-info tr td:last-child {
    width:12%;
}  
.table-show-emp-info tr td:first-child {
    width:100px;
}  
  .table-show-emp-info tr:nth-child(odd)
  {
      background: #f2f2f2;
  }
  .table-show-emp-info tr:first-of-type {
      color:#444;
      background: none;
  }
  .table-show-emp-info tr:first-of-type td{
  
      font-weight: bold;
      border-left: 1px solid #aaa;
      border-bottom: 2px solid #aaa;
  }
  .table-show-emp-info tr:first-of-type td:first-of-type{
      font-weight: bold;
      border-left: none;
  }
  .table-show-emp-info tr td {
      padding: 13px;
  }  
  .table-show-emp-info tr td a{
    color:#555;
  }
  .table-show-emp-info tr td a:hover{
    color:#999;
  }
  .add-btn {
    display: inline-block;
    margin: 10px;
    background-color: #eee;
    padding: 10px;
    border-radius: 7px;
  }
  .add-btn:hover{
      background-color: #ddd;
  }

  .sublinks{
      display: flex;
      margin:  20px;
  }
  .sublinks .link-box {
      font-size: 27px;
      color: #ddd;
      padding: 20px;
      background-color: #11698e;
      border-radius: 8px;
      margin-right: 20px;
  }
  .sublinks .link-box:hover{
      transition: .7s;
      color: #eee;
      background-color: #0079ad;
  }