*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color:#fff;
    font-family: 'Cabin', sans-serif;
}
a{
    text-decoration: none;
    color:#333;
}
.wrapper{
    padding: 120px 0 40px 243px;
}
.top_nav{
    padding-left: 40px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #555;
    color:#f0f0f0;
    height: 90px;
    line-height: 90px;
    display: flex;
}
.app-title {
    font-size: 40px;
    font-family: 'Cabin', sans-serif;
}
.top_nav ul{
    margin-left: 20px;

}
.top_nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}
.admin-left-nav{
    width: 230px;
    top: 90px;
    left: 0;
    position: fixed;
    height: 100%;
    background-color: #555;
    
}
.admin-left-nav .nav-links {
   margin: 50px 30px 0; 
}
.admin-left-nav .nav-links li {
    font-size: 18px;
    list-style-type: none;
    margin-top: 10px;
}
.admin-left-nav .nav-links li a {
    color: #ddd;
}
.admin-left-nav .nav-links li a:hover{
    color:#aaa;
    transition: .5s;
}
.admin-left-nav .account-info {
    margin: auto;
    margin-top: 30px;
    color:#f0f0f0;

}
.admin-left-nav .account-info h1{
    width: 100%;
    font-size: 34px;
    text-align: center;
}
.admin-left-nav .account-info .type{
    text-align: center;
}



  .page-slt {
      width: 65%;
      margin: auto;
  }
 
  .form-emp-info fieldset{
      background: #eee;
      border: none;
  }
  .form-emp-info fieldset legend {
      background: #ddd;
      padding: 7px;
      color: #666;
      font-size: 18px;
      font-weight: bold;
      font-family: Arial, Tahoma;
  }
  .form-emp-info .form-field{
      margin: 15px 0;
      padding: 5px 15px;
      position: relative;
  }
  .form-emp-info .form-field input , .form-emp-info .form-field label {
      display: block;
  }
  
  .form-emp-info .form-field input:not([type='submit']) {
      margin-top: 7px;
      width: 100%;
      height: 33px;
      border-radius: 7px;
      border: none;
      outline: none;
  }
  .form-emp-info .form-field input:not([type='submit']):focus {
      border: none;
      outline: none;
      border:1px solid #ccc;
  }
  .form-emp-info .form-field label {
      margin-left: 4px;
      font-size: 17px;
      color: #666;
      font-weight: bold;
  }
  .form-emp-info input[type='submit'] {
      background: #10b110;
      color: #fff;
      padding: 10px;
      border: 1px solid #129c12;
      font-size: 16px;
      font-weight: bold;
      border-radius: 7px;
      margin-left: 10px;
  }
  .form-emp-info input[type='submit']:hover ,
  .form-emp-info input[type='submit']:focus ,
  .form-emp-info input[type='submit']:active {
      outline: none;
      background: #058805;
  }
  
  .table-show-emp-info{
      font-family: Arial, Tahoma;
      width: 100%;
      border-collapse: collapse;
      vertical-align: middle;
      font-size: 15px;
  }
  .table-show-emp-info tr:nth-child(odd)
  {
      background: #f2f2f2;
  }
  .table-show-emp-info tr:first-of-type {
      color:#444;
      background: none;
  }
  .table-show-emp-info tr:first-of-type td{
  
      font-weight: bold;
      border-left: 1px solid #aaa;
      border-bottom: 2px solid #aaa;
  }
  .table-show-emp-info tr:first-of-type td:first-of-type{
      font-weight: bold;
      border-left: none;
  }
  .table-show-emp-info tr td {
      padding: 13px;
  }  
  .table-show-emp-info tr td a{
    color:#555;
  }
  .table-show-emp-info tr td a:hover{
    color:#999;
  }
  .add-btn {
    display: inline-block;
    margin: 10px;
    background-color: #eee;
    padding: 10px;
    border-radius: 7px;
  }
  .add-btn:hover{
      background-color: #ddd;
  }